target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
/ServiceRecommander/nbproject/private/
/ServiceRecommander/ServiceRecommander-war/nbproject/private/
/ServiceRecommander/ServiceRecommander-ejb/nbproject/private/